:root{
    --clr-grey: #5b5b5b;
    --clr-light-grey: #9FA0A4;
    --clr-x-light-grey: #f1f1f1;
    --clr-off-white: #fafafa;
    --clr-black: #000000;
    --clr-light-black: #181818;
    --clr-white: #ffffff;

    --clr-primary: #FE5432;
    --clr-secondary: #545268;
    --clr-tertiary: #D3A38F;
    
  }